@import '../../assets/scss/lib/_variables';

a {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: grayscale(100%) brightness(1.05);
  transition: var(--transition);
  text-indent: -10000px;
  display: inline-block;
  &:hover {
    filter: grayscale(0%) brightness(1);
  }
}
