%dl{ ':data-has-photo': 'hasPhoto' }
  %dt
    = '{{ animal.name }}'
    %span{ 'v-if': 'animal.nickname' } {{ animal.nickname }}
  %dd
    %ul
      %li{ ':data-classification': 'classification', ':style' : 'styles', ':data-sex': 'animal.sex' } {{ classification }}
      %li {{ animal.species || animal.breed }}
      %li{ 'data-scientific': 'true' } {{ animal.scientific }}
      %li
        %time{ ':datetime': 'animal.birthday' } {{ animal.birthday | moment('from', true) }} old
      %li{ 'v-if': 'animal.photo' , ':data-is-photo': 'hasPhoto' }
        %img{ 'v-lazy': 'animal.photo', ':alt': '"Photo of " + animal.name' }
