@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500i,800|Playfair+Display:400i');

@font-face {
  font-family: 'Jaapokki Subtract';
  src: url(/fonts/Jaapokki/subtract/web/jaapokkisubtract-regular.woff)
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noelan';
  src: url(/fonts/Noelan/noelan_script-webfont.woff2) format('woff2')
    url(/fonts/Noelan/noelan_script-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
