a {
  opacity: .4;
  transition: all 600ms ease-in-out;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    transition: all 600ms ease-in-out;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -16px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, #fc00ff, #00dbde, #00c9ff, #92fe9d);
    opacity: 0;
  }
  &:hover {
    opacity: .9;
    text-decoration: none;
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
  &:active, &:focus {
    &:after {
      opacity: 0;
    }
  }
  &.nuxt-link-active {
    opacity: 1;
    cursor: default;
    &:after {
      content: none;
    }
  }
}
